.contact {
    display: flex;
    font-family: Philosopher, sans-serif;
    width: 100%;
    height: 485px;
    &__list {
        width: 25%;
        padding: 27px 0 27px 34px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }    
    &__item {
        &--title {
            font-size: 36px;
            font-weight: 700;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;   
        &--phone {
            margin-bottom: 10px;
        }
        &--mail {
            margin-bottom: 10px;
            color: red;
        }
    }
    &__social {
        &--phone { 
            width: 45px;
            height: 45px;
            background-image: url(img/phone.svg);
            opacity: .4;
            transition: .15s;
            &:hover {
                opacity: 1;
                transition: .15;
            }
        }
    }
    &__map {
    }
}