.job {
position: absolute;
width: 90%;
height: 83px;
background-image: url(/img/work.png);
background-position: right;
background-repeat: no-repeat;
background-size: cover;
z-index: 99;
color: var(--white-color);
margin-top: 40px;
visibility: hidden;
}
.job__container{
    display: flex;
    max-width: 85%;
    justify-content: space-around;
    padding: 0 25px;
    align-items: center;
    transform: translateY(50%);
    font-family: 'Philosopher', sans-serif;
}
.job__nav {
    display: flex;
}
.job__item {
}
.job__link {
    margin-right: 50px;
    &:hover {
        text-decoration: underline;
    }
    
}
.job__btn {
    padding: 5px 10px;
    border-radius: 50px;
    color: var(--white-color);
    background-color: rgba(255,255,255,.1);
    transition: .15s;
    &:hover {
        background-color: rgba(255,255,255,.5);
        transition: .15s;
    }
}